* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #020024);
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  background: linear-gradient(90deg, #38bdf8, #22c55e);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #e5e7eb;
}

section {
  max-width: 1100px;
  margin: 100px auto;
  padding: 40px;
  background: rgba(255,255,255,0.07);
  border-radius: 25px;
  display: flex;
  gap: 40px;
  align-items: center;
}

section img {
  width: 45%;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(56,189,248,0.3);
}

section h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #38bdf8;
}

section p,
section li {
  font-size: 1.15rem;
  line-height: 1.9;
  color: #f1f5f9;
}

ul {
  padding-left: 20px;
}

.tech {
  flex-direction: row-reverse;
}

.future {
  flex-direction: column;
  text-align: center;
}

.future .bold {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #22c55e;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 50px;
  font-size: 1.1rem;
  color: #9ca3af;
}
